@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: var(--font-sans), sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .font-serif {
    font-family: var(--font-serif), serif;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

.animate-loading {
  animation: loading 1.5s ease-in-out infinite;
}

/* Ajustes para o editor Quill */
.ql-editor {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap !important;
  overflow-x: hidden;
  text-align: left;
}

.ql-editor * {
  max-width: 100% !important;
  box-sizing: border-box !important;
  white-space: normal !important; /* Força quebra de linha em elementos internos */
  width: auto !important; /* Previne larguras fixas do Word */
}

/* Mantém o comportamento original para imagens e vídeos */
.ql-editor img, .ql-editor iframe {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin: 10px auto;
}
